<div class="container-fluid bg-main pt-3 pb-3">
  <div
    id="container-about-me"
    class="container container-style bg-main p-2 position-relative ps-4"
  >
    <div class="row align-items-end">
      <div class="col-md-6">
        <img
          id="profile-picture"
          class="rounded-circle ms-5 mt-2"
          [src]="aboutMeArr[4]"
          alt="profile picture"
        />
        <h2 class="ms-2 mt-4 text-con">{{aboutMeArr[0]}}</h2>
        <p class="ms-2 ps-1 text-con">{{aboutMeArr[1]}}</p>
      </div>
      <div
        id="about-me"
        class="col-md-6 position-relative"
        [ngStyle]="{ display: displayStyle }"
      >
        <h3 class="text-con">{{aboutMeArr[2]}}</h3>
        <p class="text-con ps-1">{{aboutMeArr[3]}}.</p>
        <!--boton de eliminacion-->
        <button
          id="about-me-button-delete"
          class="btn btn-success btn-circle"
          (click)="elementHide()"
          *ngIf="loginState"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <!--boton de edicion-->
      <app-about-me-modal *ngIf="loginState" [aboutArr]="aboutMeArr"></app-about-me-modal>
    </div>
  </div>
</div>
